@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-base: "Montserrat", sans-serif;

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightgray-color: #e4e4e4;
    --gray-color: #6b7688;
    --lightgray-color: #f8f8f8;
    --brown-color: #46364a;
    --white-color: #ffffff;
    --matteblue-color: #6da8b6;
    --navyblue-color: #001f3f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}